@use 'variables' as v;
@use 'mixines' as m;

html,
body {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: v.$white;
}

.wrapper {
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;

  @include m.desktop() {
    max-width: v.$desktop-container;
  }

  @include m.tablet() {
    max-width: 80%;
  }

  @include m.phone() {
    max-width: 80%;
  }
}

svg path {
  fill: inherit;
}

