/* Breakepoints */
$desktop-width: 1400px;
$tablet-width: 1024px;
$phone-width: 320px;

/* Container */
$desktop-container: 1290px;
$tablet-container: 698px;
$phone-container: 270px;

/* Heights */

/* Colors */
$black: #000000;
$white: #FFFFFF;
$yellow: #EFBB69;
$grey: #D3D3D3;
$dark-grey: #666666;
$green: #223039;
$red: #223039;
