@use '../config' as *;

.about {

  @include desktop {
    padding-top: 260px;
    height: 100vh;
  }

  @include tablet{
    padding-top: 130px;
  }

  @include phone {
    padding-top: 96px;
  }

  &__button {
    @include button;
  }
}
