@use '../config' as *;

.examples {

  @include desktop {
    padding-top: 150px;
    height: 100vh;
  }

  @include tablet {
    padding-top: 100px;
  }

  @include phone {
    padding-top: 60px;
  }

  &__title {
    width: 100%;

    @include desktop {
      width: 80%;
      margin: 0 auto 72px;
    }

    @include tablet {
      margin: 0 auto 14px;
    }

    @include phone {
      margin: 0 auto 14px;
      font-size: 30px;
      line-height: 44px;
    }
  }

  &__statistics {

    @include desktop {
      height: 290px;
      margin: 0 100px 58px;
    }

    @include tablet{
      height: 226px;
      margin: 0 0 18px;
    }

    @include phone {
      height: 280px;
      margin: 0 0 14px;
    }
  }

  &__items-wrap {
    display: flex;
    align-items: center;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  &__item-path {
    width: 300px;
    height: 8px;
  }

  &__item-link {
    color: $white;
    text-decoration: underline !important;
  }

  &__item-text {

    @include tablet{
      width: 100%;
      text-align: center;
    }

    @include phone {
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__text {
    display: none;

    @include desktop {
      height: 290px;
      margin-bottom: 58px;
    }

    @include tablet{
      height: 226px;
      margin-bottom: 18px;
    }

    @include phone {
      height: 280px;
      margin-bottom: 14px;
    }
  }

  &__name-wrap {
    width: 100%;
    user-select: none;

    @include desktop {
      &_phone {
        display: none;
      }
    }

    @include tablet {
      &_phone {
        display: none;
      }
    }

    @include phone {
      height: 48px;
      display: flex;
      min-width: auto;
      overflow-x: scroll;
      white-space: nowrap;
      padding-bottom: 6px;

      &_desktop {
        display: none;
      }
    }
  }

  &__name-wrap::-webkit-scrollbar,
  &__name-wrap::-webkit-scrollbar-corner,
  &__name-wrap::-webkit-scrollbar:horizontal {
    background: $green;
  }

  &__name {
    color: $yellow;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.1em;

    @include phone {
      font-size: 16px;
      padding-right: 3vw;
      padding-left: 3vw;
      border-bottom: 1px solid transparent;
      transition: color .2s linear;
    }
  }

  &__line-wrap {
    display: none;

    @include desktop {
      display: block;
      position: relative;
      min-width: 300px;
      margin-right: 24px;
    }
  }

  &__round-wrap {
    position: absolute;
    width: 28px;
    height: 28px;
  }

  &__round {
    position: absolute;
    border-radius: 50%;

    &_one {
      top: -3px;
      left: -7px;
      width: 14px;
      height: 14px;
      background: $yellow;
    }

    &_two {
      top: -6px;
      left: -10px;
      width: 20px;
      height: 20px;
      background: $white;
      mix-blend-mode: soft-light;
    }

    &_three {
      top: -10px;
      left: -14px;
      width: 28px;
      height: 28px;
      background: $white;
      mix-blend-mode: overlay;
    }
  }

  &__line {
    position: absolute;
    top: 1px;
    height: 6px;
    border-radius: 29px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EFBB69;;
  }
}

.round-one {
  animation: slider-one 1s linear both;
}

.round-two {
  animation: slider-two 1s linear both;
}

.round-three {
  animation: slider-three 1s linear both;
}

.round-four {
  animation: slider-four 1s linear both;
}

.line-one {
  animation: increase-one 1s linear both;
}

.line-two {
  animation: increase-two 1s linear both;
}

.line-three {
  animation: increase-three 1s linear both;
}

.line-four {
  animation: increase-four 1s linear both;
}

@keyframes increase-one {
  0% {
    width: 1px;
  }
  100% {
    width: 264px;
  }
}
@keyframes increase-two {
  0% {
    width: 1px;
  }
  100% {
    width: 159px;
  }
}

@keyframes increase-three {
  0% {
    width: 1px;
  }
  100% {
    width: 219px;
  }
}

@keyframes increase-four {
  0% {
    width: 1px;
  }
  100% {
    width: 177px;
  }
}


@keyframes slider-one {
  0% {
    left: 0;
  }
  100% {
    left: 264px;
  }
}

@keyframes slider-two {
  0% {
    left: 0;
  }
  100% {
    left: 159px;
  }
}

@keyframes slider-three {
  0% {
    left: 0;
  }
  100% {
    left: 219px;
  }
}

@keyframes slider-four {
  0% {
    left: 0;
  }
  100% {
    left: 177px;
  }
}


