@use '../config' as *;

.feedback {

  @include desktop {
    height: 100vh;
  }

  @include phone {
    //height: 100%;
  }

  &__logo-wrap {
    display: flex !important;
  }

  &__logo {
    margin-right: 8px;
  }

  &__logo-text {
    color: $white;
  }

  &__title {
    text-align: center;

    @include desktop {
      padding-top: 172px;
      margin-bottom: 64px;
      width: 1290px;
    }

    @include tablet{
      padding-top: 120px;
      font-size: 32px;
      line-height: 48px;
    }

    @include phone {
      font-size: 16px;
      line-height: 24px;
      padding-top: 75px;
    }
  }

  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 695px;
    font-weight: 300;

    @include phone {
      width: 282px;
    }
  }

  &__input,
  &__textarea {
    background: $green;
    color: $white;
  }

  &__input {
    border: none;
  }

  &__checkbox {
    display: none;
  }

  &__input,
  &__label {

    &_name {
      width: 100%;
    }

    &_num {
      width: 325px;

      @include phone {
        width: 100%;
      }
    }
  }

  &__input::placeholder {
    color: $white;
  }

  &__label {
    border-bottom: 2px solid $white;
    margin-bottom: 32px;

    @include tablet{
      margin-bottom: 20px;
    }

    @include phone {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__textarea-label,
  &__textarea,
  &__label-checkbox {
    width: 100%;

    @include phone {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__textarea {
    height: 119px;
    border: 2px solid $white;
    margin-bottom: 22px;
    padding: 0 10px;

    @include tablet{
      height: 57px;
    }

    @include phone {
      height: 57px;
    }
  }

  &__label-checkbox {
    position: relative;
    display: inline-block;
    margin: 0 0 56px;

    @include phone {
      line-height: 32px;
    }
  }

  &__label-checkbox:before {
    content: '';
    position: absolute;
    top: 6px;
    width: 30px;
    height: 30px;
    border: 1px solid $white;
  }

  &__checkbox-text {
    margin-left: 38px;
  }

  &__button {
    @include button($phone: false);
    margin: 0 auto 32px;

    @include tablet{
      @include button($phone: true);
    }

    @include phone {
      @include button($phone: true)
    }
  }

  &__policy {
    width: 470px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    user-select: none;

    @include tablet {
      margin-bottom: 60px;
    }

    @include phone {
      margin-bottom: 24px;
    }
  }

  &__policy-link {
    display: inline-block !important;
    color: $white;
    text-decoration: underline !important;
  }

  &__error {
    position: absolute;
    z-index: 20;
    font-size: 16px;
    line-height: 24px;
    color: $red;
  }

  &__field-name {
    top: 39px;
    left: 0;

    @include phone {
      top: 29px;
    }
  }

  &__field-email {
    top: 111px;
    left: 0;

    @include tablet{
      top: 99px;
    }

    @include phone {
      top: 92px;
    }
  }

  &__field-phone {
    top: 111px;
    left: 371px;

    @include tablet{
      top: 99px;
    }

    @include phone {
      left: 0;
      top: 155px;
    }
  }
}

.feedback__checkbox:checked + label.feedback__label-checkbox:before {
  content: '\2713';
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  padding-left: 6px;
  color: $white;
}

