@use '../config' as *;

.main {

  @include desktop {
    padding-top: 150px;
    height: 100vh;
  }

  @include tablet{
    padding-top: 130px;
  }

  @include phone {
    padding-top: 96px;
  }

  &__subtitle {
    @include h2;
    width: 70%;

    @include desktop {
      margin: 0 auto 80px;
    }

    @include tablet{
      margin: 0 auto 56px;
      width: 80%;
    }

    @include phone {
      @include h2-phone;
      margin: 0 auto 49px;
      width: 100%;
    }
  }

  &__button {
    @include button($phone: false);

    @include phone {
      @include button;
    }
  }
}

