@use '../config' as *;

.header-wrap {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 72px;

  @include tablet {
    padding: 50px 0 30px;
  }

  @include phone {
    padding: 29px 0 20px;
  }

  &__fixed {

    @include tablet {
      background: $green;
    }

    @include phone {
      background: $green;
    }
  }

  &__header__animated {
    position: fixed;
    top: 0;
    z-index: 20;
  }

  &__logo-wrap {
    display: none;
  }

  &__logo {
    margin-right: 8px;

    @include phone {
      width: 30px;
      height: 30px;
    }
  }

  &__logo-text {
    color: $white;

    @include phone {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__text {
    color: $white;

    @include phone {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__menu {
    width: 110px;
    height: 27px;
    cursor: pointer;

    @include tablet {
     display: none;
    }

    @include phone {
      display: none;
    }
  }

  &__burger-wrap {
    position: absolute;
    right: 0;
    cursor: pointer;

    @include desktop {
      display: none;
    }

    @include tablet {
      top: 22px;
      width: 110px;
      height: 82px;
    }

    @include phone {
      top: 22px;
      width: 55px;
      height: 41px;
    }
  }

  &__burger,
  &__burger::before,
  &__burger::after {
    position: absolute;
    top: 50%;

    @include tablet {
      width: 110px;
      height: 6px;
    }

    @include phone {
      width: 55px;
      height: 3px;
    }
  }

  &__burger::before,
  &__burger::after {
    content: '';
    display: block;
    transition: .2s;
    background: $white;
    border-radius: 52px;
  }

  &__burger::before {

    @include tablet {
      transform: translateY(10px);
    }

    @include phone {
      transform: translateY(5px);
    }
  }

  &__burger::after {

    @include tablet {
      transform: translateY(-11px);
    }

    @include phone {
      transform: translateY(-6px);
    }
  }

  &__animated {
    display: none;
  }

  &__hidden {
    opacity: 0;
  }
}

#toggle.active #icon::before {
  transform: rotate(45deg);
  background: $black;
}

#toggle.active #icon::after {
  transform: rotate(-45deg);
  background: $black;
}

.pagination {

  &__wrap {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 370px;

    @include tablet {
      display: none;
    }

    @include phone {
      display: none;
    }
  }

  &__pag-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $dark-grey;
    margin-bottom: 26px;

    &_active {
      background: $grey;
    }
  }
}

.transparent {
  background: transparent;
}
