@use '../config' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  left: calc((100vw - 1290px) / 2);
  width: 100%;
  height: 112px;
  padding: 72px 0 0;

  &__logo-wrap {
    display: none;
  }

  &__logo {
    margin-right: 8px;
  }

  &__logo-text {
    color: $white;
  }

  &__text {
    color: $white;
  }

  &__menu {
    width: 110px;
    height: 27px;
    cursor: pointer;
  }

  &__animated {
    display: none;
  }
}

.pagination {

  &__wrap {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 370px;
  }

  &__pag-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $dark-grey;
    margin-bottom: 26px;

    &_active {
      background: $grey;
    }
  }
}
