@use '../config' as *;

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: left;
  width: 100%;

  @include desktop {
    background: url('../assets/images/bcg.jpg') no-repeat;
    background-size: cover;
    z-index: 10;
  }

  @include tablet {
    background: $green;
  }

  @include phone {
    background: $green;
    padding-bottom: 69px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      margin-bottom: 50px;
    }

    @include phone {
      //margin-bottom: 24px;
    }
  }

  &__title {
    @include h1;

    @include desktop {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 23px;
    }

    @include phone {
      @include h1-phone;
    }

    &_yellow {
      @include h2;
    }
  }

  &__capitalize {
  text-transform: capitalize;
  }

  &__text {
    width: 90%;
    text-align: center;

    @include desktop {
      width: 65%;
    }

    @include phone {
      font-size: 16px;
      line-height: 24px;
      width: 100%;
    }
  }

  &__num-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__num-page,
  &__name {
    position: relative;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    cursor: pointer;
    margin: 0 13px;

    @include phone {
      font-size: 34px;
      line-height: 50px;
      margin: 0;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      height: 2px;
      width: 0;
      background-color: $white;
      transition: width .3s ease-in-out;

      @include desktop {
        bottom: -10px;
      }

      @include tablet {
        bottom: -7px;
      }

      @include phone {
        bottom: -3px;
        height: 1px;
      }
    }
  }

  &__num-page {
    margin: 0 16px;
    width: 50px;

    @include phone {
      width: 30px;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__name {

    &:hover:after {
      width: 100%;

      @include phone {
        width: calc(100% - 6vw);
      }
    }
  }

  &__num-page_active,
  &__name_active {

    &:after {
      position: absolute;
      bottom: -10px;
      display: block;
      content: '';
      height: 2px;
      background-color: $white;

      @include tablet {
        bottom: -7px;
      }

      @include phone {
        bottom: -3px;
        height: 1px;
        width: calc(100% - 6vw);
      }
    }
  }

  &__num-page_active {

    &:after {
      width: 100%;
    }
  }

  &__name_active {

    &:after {
      width: 100%;

      @include phone {
        width: calc(100% - 6vw);
      }
    }
  }

  &__open-rotate {
    @include desktop {
      animation: open-rotate 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

      .main__button {
        &:hover {
          color: $black;
          background: $yellow;
          border: 1px solid $yellow;
        }
      }
    }
  }

  &__close-rotate {
    @include desktop {
      animation: close-rotate .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

@supports ((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
  ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green)) {
  .layout__title {
    -moz-text-fill-color: $green;
    -webkit-text-fill-color: $green;
    -moz-text-stroke-color: $yellow;
    -webkit-text-stroke-color: $yellow;
    -moz-text-stroke-width: 4px;
    -webkit-text-stroke-width: 4px;
  }
}

@supports not (((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
 ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green))) {
  .layout__title {
    color: $yellow;
  }
}

@supports ((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
  ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green)) {
  .layout__num-page {
    -moz-text-fill-color: $green;
    -webkit-text-fill-color: $green;
    -moz-text-stroke-color: $yellow;
    -webkit-text-stroke-color: $yellow;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
  }
}

@supports not (((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
 ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green))) {
  .layout__num-page {
    color: $yellow;
  }
}

@supports ((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $yellow))
  or
  ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $yellow)) {
  .layout__num-page_active {
    -moz-text-fill-color: $yellow;
    -webkit-text-fill-color: $yellow;
    -moz-text-stroke-color: $yellow;
    -webkit-text-stroke-color: $yellow;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
  }
}

@supports not (((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $yellow))
  or
 ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $yellow))) {
  .layout__num-page_active {
    color: $yellow;
  }
}


@include phone {
  @supports ((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
  ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green)) {
    .layout__title {
      -moz-text-fill-color: $green;
      -webkit-text-fill-color: $green;
      -moz-text-stroke-color: $yellow;
      -webkit-text-stroke-color: $yellow;
      -moz-text-stroke-width: 2px;
      -webkit-text-stroke-width: 2px;
    }
  }

  @supports not (((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
 ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green))) {
    .layout__title {
      color: $yellow;
    }
  }

  @supports ((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
  ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green)) {
    .layout__num-page {
      -moz-text-fill-color: $green;
      -webkit-text-fill-color: $green;
      -moz-text-stroke-color: $yellow;
      -webkit-text-stroke-color: $yellow;
      -moz-text-stroke-width: 1px;
      -webkit-text-stroke-width: 1px;
    }
  }

  @supports not (((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $green))
  or
 ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $green))) {
    .layout__num-page {
      color: $yellow;
    }
  }

  @supports ((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $yellow))
  or
  ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $yellow)) {
    .layout__num-page_active {
      -moz-text-fill-color: $yellow;
      -webkit-text-fill-color: $yellow;
      -moz-text-stroke-color: $yellow;
      -webkit-text-stroke-color: $yellow;
      -moz-text-stroke-width: 1px;
      -webkit-text-stroke-width: 1px;
    }
  }

  @supports not (((-webkit-text-stroke-color: $yellow)
  and
  (-webkit-text-fill-color: $yellow))
  or
 ((-moz-text-stroke-color: $yellow)
  and
  (-moz-text-fill-color: $yellow))) {
    .layout__num-page_active {
      color: $yellow;
    }
  }
}

@keyframes open-rotate {
  0% {
    transform: perspective(0) rotateY(0);
  }
  100% {
    transform: perspective(900px) rotateY(15deg);
  }
}

@keyframes close-rotate {
  0% {
    transform: perspective(900px) rotateY(15deg);
  }
  100% {
    transform: perspective(0) rotateY(0);
  }
}

