@use '../config' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $yellow;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include desktop {
    padding: 72px 72px 220px 0;
  }

  @include tablet-l {
    width: 100vw;
    padding: 34px 47px 140px;
  }

  @include phone {
    width: 100vw;
    height: 100vh;
    padding: 24px 47px 160px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__close {
    cursor: pointer;

    @include phone {
      width: 42px;
      height: 40px;
    }
  }

  &__item {
    font-size: 36px;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
    user-select: none;

    @include phone {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
