@import 'variables';

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin phone {
  @media screen and (min-width: $phone-width) and (max-width: $tablet-width - 1px) {
    @content;
  }
}

@mixin h1 {
  font-size: 98px;
  font-weight: bold;
  letter-spacing: 0.03em;
  stroke: 4;
}
